/* Install in /css/responsive.css */

/* Small screens (smartphones) */
@media only screen and (max-width:480px) {
  .twothirds {
    width: 100%;
 }

 /* removes fixed width of 800px on mobile */
  #alert {
    width: auto;
    height: auto;
 }
}

 /* removes h1 title for better visibility on mobile */
  h1.fulltitle {
  display: none;
}
 /* centers green "contact sales..." button on mobile */
  a.btn-success {
    display: block;
    margin-left: 0;
}

/* Medium screens (tablets in portrait orientation) */
@media only screen and (min-width: 481px) and (max-width: 820px) and (orientation:portrait) {
  /* For portrait layouts only */
  
 /* removes overlapping h1 title over search results/state selector on iPad/iPad mini */
  h1.fulltitle {
  display: none;
 }

 /* prevents columns from overlapping search results/state selector on iPad/iPad mini */
  .content.container-fluid {
    margin-top: 15%;
 }
 /* removes fixed width of 800px on iPad/iPad mini */
   #alert {
    width: auto;
    height: auto;
 }
 
}

/* Medium screens (tablets in landscape orientation) */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

/* Large screens (desktops, laptops) */
@media only screen and (min-width: 1025px) {
  /* Add styles for large screens here */
}